.contact-form-modal {
  .message-input {
    width: 100%;
  }
  .input-wrapper {
    margin-bottom: 10px;
  }
  .modal-inputs-wrapper {
    padding-bottom: 5px;
  }
  .send-button {
    margin-right: 10px;
  }
}