.app--body {
  padding: 0 .5rem;
}

.app--header {
  display: flex;
  align-items: flex-end;
}

.app--title {
  flex-grow: 1;
  text-align: center;
}

.app--nav-bar {

}

.app--HE-logo {
  height: 4.75rem;
  & > img {
    height: 100%;
    width: auto;
  }
  margin-bottom: -.5rem;
}
