.app__body {
  padding: 0 .5rem;
}

.app__header {
  display: flex;
  align-items: flex-end;
  max-width: 100%;
}

.app__title {
  flex-grow: 1;
  text-align: center;
}

.app__nav-bar {

}

.app__HE-logo {
  height: 4.75rem;
  & > img {
    min-width: 100px;
    max-width: 100%;
    height: auto;
  }
  margin-bottom: -.5rem;
}

@media(max-width: 750px) {
  .app__title {
    font-size: 2rem;
    text-align: left;
  }
  .app__HE-logo {
    display: none;
  }
}
