.data-page {
  margin-top: 1rem;
  padding: 0 .5rem;

  &__content {
  }

  // Tabs styling
  .MuiTabs-root {
    border-bottom: rgb(230, 224, 224) 1px solid;
  }
  .MuiTab-wrapper {
    flex-direction: row;
  }
  .custom-tab-label {
    padding-left: 0.5em;
  }
}

@media (max-width: 600px) {
  .data-page {
    margin-top: 0.5rem;
  }
  .MuiContainer-root {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
  }
}

.map-button {
  height: 36px;
  margin-top: 12px;
}
