.data-page {
  margin-top: 10vh;
  &__filters {
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__content {
  }

  .MuiTabs-root {
    border-bottom: rgb(230, 224, 224) 1px solid;
  }
}
