.field-container {
  padding-top: 1rem;
}

.autocomplete-dropdown-container {
  border: solid 1px #D3D3D3;;
}

.suggestion-item {
  line-height: 1.2em;
  padding: 0.2em;

  &--active {
    background-color: #f4f4f4;
  }
}
