.search-bar {
  display: flex;
  justify-content: left;
  padding-top: 1rem;
  margin-bottom: 1rem;

  & > *:not(:first-child) {
    margin-left: 1.0em;
  }

  &__gps-icon {
    padding-bottom: 0.1em;
  }
}
