.search-bar {
  &__filters {
    height: 15vh; // TODO: get rid of this fixed height
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
  }

  &__gps-icon {
    height: 2rem;
    width: 2rem;
    padding: 0;
  }

  &__input {
    display: flex;
  }
}
